name: Release

env:
  CI: "true"

on:
  push:
    branches:
      - master
    paths:
      - "cases/*.ts"
      - "*.ts"
      - package.json
      - package-lock.json

jobs:
  build:
    name: "Node ${{ matrix.node-version }}"

    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      matrix:
        node-version:
          - 10.x
          - 12.x
          - 13.x
          - 14.x

    steps:
      - uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: npm ci

      - name: lint
        run: npm run lint

      - name: npm test
        run: npm t

      - name: generate benchmarks
        run: ./start.sh
        env:
          NODE_VERSION: ${{ matrix.node-version }}

        ## FIX: https://github.com/github-actions-x/commit/issues/16
      - name: Expose git commit data
        uses: rlespinasse/git-commit-data-action@v1.x ## https://github.com/rlespinasse/git-commit-data-action
      - name: Set git author
        run: git config --global user.email "${{ env.GIT_COMMIT_AUTHOR_EMAIL }}" && git config --global user.name "${{ env.GIT_COMMIT_AUTHOR_NAME }}"
        ## /FIX

      - name: push
        uses: github-actions-x/commit@v2.7
        ## prevents forked repos from comitting results in PRs
        if: github.repository == 'moltar/typescript-runtime-type-benchmarks'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: master
          commit-message: 'feat: ${{ matrix.node-version }} adds auto-generated benchmarks and bar graph'
          rebase: 'true'
